

/* Defaults */

html {
  font-family: var(--font-family);
}

:focus-visible {
  outline: none
}

/* Useful Classes */

.compact-container {
  max-width: 1100px;
}

.from-below {
  transform: translateY(20%);
}


/* UTILITIES */


/* Shimmer */

shimmer,
.shimmer {
  min-height: 20px;
  background: #f6f7f8;
  background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
  background-repeat: repeat-y;
  background-size: 100% 50px; 
  position: relative; 
  
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards; 
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeholderShimmer;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes placeholderShimmer {
 0% {
   background-position: -468px 0;
 }
 
 100% {
   background-position: 468px 0; 
 }
}



/* Toasts */

.toasts-container {
  max-width: 300px;
  position: fixed;
  top: 10px;
  right: 10px;
}

.toasts-container .toast {
  transform: translateY(-120%);
  position: fixed;
}

.toasts-container .toast-animate-in { 
  position: relative;
  transition: 0.5s;
  transform: translateY(0%);
}

.toasts-container .toast-animate-out {
  transform: translateX(120%);
  transition: 0.5s;
}


/* Text Formatting */

.format-text {
  line-height: 33px;
  color: rgba(0,0,0,0.6);
}
.format-text h1,
.format-text h2,
.format-text h3,
.format-text strong {
  color: var(--color-gamma);
}
.format-text h1 {
  font-size: 2.5rem;
  font-weight: var(--bold-font-weight);
  line-height: 1.2;
  margin-bottom: 1rem;
}

.format-text h2 {
  font-size: 1.4rem;
  font-weight: var(--bold-font-weight);
  line-height: 1.2;
  margin-bottom: 1rem;
}
.format-text h3 {
  font-size: 1.5rem;
  font-weight: var(--bold-font-weight);
  line-height: 1.2;
  margin-bottom: 1rem;
}
.format-text h4 {
  font-size: 1.25rem;
  font-weight: var(--bold-font-weight);
  line-height: 1.2;
  margin-bottom: 1rem;
}

.format-text a {
  color: var(--link-color);
  text-decoration: underline;
}

.format-text p, 
.format-text li {
  font-size: 1.1rem;
}

.format-text code {
  background-color: #efefef;
}
.format-text pre code {
  background-color: var(--color-gamma);
  border-radius: var(--border-radius-1);
}

.format-text code {
  font-size: 0.9rem;
}

.format-text p, 
.format-text code {
  margin-bottom: 1rem;
}

.format-text strong {
  font-weight: var(--bold-font-weight);
}
.format-text ul {
  margin-bottom: 1rem;
  list-style-type: disc;
  margin-left: 20px;
}
.format-text ol {
  margin-bottom: 1rem;
  list-style-type: decimal;
  margin-left: 20px;
}

.format-text code, 
.format-text pre code {
  border-radius: var(--border-radius-1);
  line-height: 25px !important;
}
.format-text code {
  padding: 2px 4px;
}
.format-text pre code {
  display: block;
  padding: 12px;
  overflow: scroll;
}
.format-text table {
  border-radius: var(--border-radius-1);
}
.format-text table, 
.format-text tr {
  border-width: var(--border-width-default);
  border-color: var(--border-color-default);
}
.format-text table th {
  text-align: left;
  padding-right: 10px;
  font-weight: var(--bold-font-weight);
}

/* VENDOR */



/* Custom Styling for Tom Select default theme */

.ts-control {
  border-color:   var(--form-input-border-color, #e5e7eb);
  border-width:   var(--form-input-border-width, 2px);
  border-radius:  var(--form-input-border-radius, 0.25rem);
  padding:        var(--form-input-padding, 0.75rem);
}

.ts-dropdown, .ts-control, .ts-control input {
  color: inherit;
  font-size: inherit;
  height: unset !important;
}


.ts-wrapper.focus .ts-control {
  border-color:   var(--form-input-border-color-focus, #191919);
}

.ts-wrapper.focus.dropdown-active .ts-control {
  border-bottom: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.ts-dropdown {
  margin: 0;
  box-shadow: unset;
  border-color:   var(--form-input-border-color-focus, #191919);
  border-width:   var(--form-input-border-width, 2px);
  border-radius:  var(--form-input-border-radius, 0.25rem);
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.ts-dropdown .active {
  background-color: rgba(var(--bg-primary,1,90,226),.9);
  color: var(--bg-primary-text, #fff);
}

.ts-wrapper.multi .ts-control > div {
  margin-bottom: 0px;
  padding: 4px 6px;
}


/* Tippy Styles */

.tippy-box {
  background-color: rgba(var(--bg-primary,1,90,226),.9) ;
  color: var(--bg-primary-text, #fff);
}

.tippy-box[data-placement^='top'] > .tippy-arrow::before {
  border-top-color: rgba(var(--bg-primary,1,90,226),.9);
}
.tippy-box[data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: rgba(var(--bg-primary,1,90,226),.9);
}
.tippy-box[data-placement^='left'] > .tippy-arrow::before {
  border-left-color: rgba(var(--bg-primary,1,90,226),.9);
}
.tippy-box[data-placement^='right'] > .tippy-arrow::before {
  border-right-color: rgba(var(--bg-primary,1,90,226),.9);
}


.inset-0 {
  inset: 0px;
}
.translate-y-0 {
  transform: translateY(0px);
}
.translate-y-4 {
  transform: translateY(1rem);
}

.accordion section {
  grid-template-rows: 0fr 0fr;
}
.accordion section.active {
  grid-template-rows: 0fr 1fr;
}