<% content_for :left_side do %>
  <%= render :partial => "shared/left_nav" %>
<% end %>
<div class="format-text p-5 w-[800px]">
  <%= Utilities.markdown_to_html(File.read("docs/reference.md")).html_safe %>
</div>
<script>
  // add event listener
  document.querySelectorAll('pre code').forEach((block) => {
    hljs.highlightBlock(block);
  });
</script>