<%#
---
title: Mini Js Accordion
description: This example uses minijs to create an animated accordion.
---
%>

<style>
	.accordion section {
		grid-template-rows: 0fr 0fr;
	}
	.accordion section.active {
		grid-template-rows: 0fr 1fr;
	}
</style>

<script>
	activeSection = 'about'
</script>

<div class="accordion rounded-md overflow-hidden border border-gray-200">
	<section class="grid transition-all border-gray-200 border-b hover:bg-gray-50" :class="activeSection =='about' ? 'active' : ''" >
		<a onclick="activeSection = 'about'" class="cursor-pointer font-bold p-4 flex justify-between">
			About Us
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-neutral-800">
				<path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"></path>
			</svg>
		</a>
		<div class="overflow-hidden">
			<div class="p-4 pt-2">
				Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.
			</div>
		</div>
	</section>

	<section class="grid transition-all border-gray-200 border-b hover:bg-gray-50" :class="activeSection =='contact' ? 'active' : ''" >
		<a onclick="activeSection = 'contact'" class="cursor-pointer font-bold p-4 flex justify-between">
			Contact
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-neutral-800">
				<path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"></path>
			</svg>
		</a>
		<div class="overflow-hidden">
			<div class="p-4 pt-2">
			Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.
			</div>
		</div>
	</section>

	<section class="grid transition-all border-gray-200 hover:bg-gray-50" :class="activeSection =='team' ? 'active' : ''" >
		<a onclick="activeSection = 'team'" class="cursor-pointer font-bold p-4 flex justify-between">
			Team
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-neutral-800">
				<path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"></path>
			</svg>
		</a>
		<div class="overflow-hidden">
			<div class="p-4 pt-2">
				Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.
			</div>
		</div>
	</section>
</div>
