<%#
---
title: Checkbox Select All
description: Use tailwind classes with mini js to show this component. NOTE -> Logic & Design are not implemented yet. We can see an example of such a component here https://www.stimulus-components.com/docs/stimulus-checkbox-select-all
---
%>


<div class="flex">
  <input type="checkbox" :change="allChecked=this.checked;console.log(this.checked)">
  <label>
    Select All 
  </label>
</div>



<div class="flex">
  <input type="checkbox" :checked="allChecked">
  <label>
    Team 1
  </label>
</div>



<div class="flex">
  <input type="checkbox" :checked="allChecked">
  <label>
    Team 2
  </label>
</div>



<div class="flex">
  <input type="checkbox" :checked="allChecked">
  <label>
    Team 3
  </label>
</div>
