<%#
---
title: Modal
description: Use tailwind classes with mini js to show a modal.
---
%>

<script>
  isModalOpen = false;
</script>

<a
  class="bg-indigo-600 hover:bg-indigo-800 transition-all text-white rounded px-3 py-2 cursor-pointer"
  :click="isModalOpen = true;"
  >
Open Modal
</a>

<div
  id="modal-outer"
  class="relative z-10 duration-300 transition-all opacity-0"
  aria-labelledby="modal-title"
  aria-modal="true"
  :class="isModalOpen ? 'opacity-100 pointer-events-auto' : 'opacity-0 pointer-events-none'"
  :click="if (event.target.id == 'modal-container-outer') { isModalOpen = false }"
>
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
  <div
    id="modal-inner"
    class="transition-all fixed inset-0 z-10 overflow-y-auto"
    :class="isModalOpen ? 'opacity-100 translate-y-0 sm:scale-100' : 'opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95'"
  >
      <div id="modal-container-outer" class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
        <div class="relative">
            <button
              style="left:-30px; top:2rem"
              class="hidden md:block cursor-pointer absolute"
              :click="isModalOpen = false"
              aria-label="Close Modal"
              >
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
              </svg>
            </button>
            <div id="modal-container-content" class="overflow-y-scroll rounded-lg bg-white max-h-96 px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:w-96 sm:p-6">
              
            </div>
        </div>
      </div>
  </div>
</div>       