<%#
---
title: Tooltips
description: We use <a href="https://atomiks.github.io/tippyjs/">tippy.js</a> for tooltips. To add a tooltip to an element,just add the data-tippy-content attribute. 
---
%>


<h3 class="font-semibold text-lg my-2"> Basic Tooltip</h3>
<span class="inline-block cursor-pointer" data-tippy-content="This is the content" >
  Hover On Me
</span>

<div id="separator" class="h-5 block"></div>

<h3 class="font-semibold text-lg my-2"> Without The Arrow</h3>
<span class="inline-block cursor-pointer" data-tippy-content="This is the content" data-tippy-arrow="false" >
  Hover On Me
</span>