<!DOCTYPE html>
<html class="h-full" lang="en">
  <head>
    <%= render :partial=> "shared/head" %>
    <script>

      const contentLoadedEvent = new Event("content-loaded");

      document.addEventListener('content-loaded', (event) => {
      });

      document.addEventListener('DOMContentLoaded', (event) => {
        document.dispatchEvent(contentLoadedEvent);
      });

      document.addEventListener('htmx:afterSwap', (event) => {
        document.dispatchEvent(contentLoadedEvent);
      });

    </script>
  </head>
  <body class="relative h-full"  hx-boost="true">
    <% render :partial => "shared/top_nav" %>
    <div class="flex h-full">
      <% if content_for?(:left_side)  %>
        <div class="flex">
          <div style="width: 320px" class="border-r border-gray-200">
            <%= yield :left_side %>
          </div>
        </div>
      <% end %>
      <%= yield %>
    </div>
    <%= render :partial => "shared/partial_containers" %>
  </body>

</html>
