<!DOCTYPE html>
<html class="h-full" lang="en">
  <head>
    <%= render :partial=> "shared/head" %>
    <script>
      const contentLoadedEvent = new Event("content-loaded");

      document.addEventListener('content-loaded', (event) => {
      });

      document.addEventListener('DOMContentLoaded', (event) => {
        document.dispatchEvent(contentLoadedEvent);
      });

      document.addEventListener('htmx:afterSwap', (event) => {
        document.dispatchEvent(contentLoadedEvent);
      });
    </script>
  </head>
  <body class="relative h-screen"  hx-boost="true" hx-ext="morph">
    <% render :partial => "shared/top_nav" %>
    <div class="grid grid-cols-1 md:grid-cols-6">
      <% if content_for?(:left_side)  %>
        <div class="col-span-1">
          <%= yield :left_side %>
        </div>
      <% end %>
      <div class="col-span-1 md:col-span-5 border-l border-gray-200" style="height:fit-content">
        <div style="max-width: 800px">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
  <%= render :partial => "shared/partial_containers" %>
</body>
</html>
